/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.bluechef {
  background-color: #0000bf;
}

.bluechef-text {
  color: #0000bf;
}

.collection {
  border: 1px solid #d9abde;
}

.collection a.collection-item {
  color: #0000bf;
}

a.collection-item:hover {
  background-color: #d9abde !important;
}

.gambar-resep {
  width: 500px !important;
}

blockquote {
  border-left: 5px solid #0000bf;
}

tr {
  border: none;
}

.isi-tabel{
  font-weight: normal;
}
